// Set your colors
$primary: #1565c0;
$primary-invert: findColorInvert($primary);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  'white': (
    $white,
    $black,
  ),
  'black': (
    $black,
    $white,
  ),
  'light': (
    $light,
    $light-invert,
  ),
  'dark': (
    $dark,
    $dark-invert,
  ),
  'primary': (
    $primary,
    $primary-invert,
  ),
  'info': (
    $info,
    $info-invert,
  ),
  'success': (
    $success,
    $success-invert,
  ),
  'warning': (
    $warning,
    $warning-invert,
  ),
  'danger': (
    $danger,
    $danger-invert,
  ),
);

// Font

$body-font-size: 0.9em;

$size-1: 2.5rem;
$size-2: 2rem;
$size-3: 1.5rem;
$size-4: 1rem;
$size-5: 0.9rem;
$size-6: 0.8rem;
$size-7: 0.7rem;

$size-normal: 0.88;

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Loader
$loading-background: rgba(0,0,0,0.78);

// Navbar
$navbar-fixed-z: 1000;
$modal-z: 1001;